xsd/guanxi-idp.xsd

<?xml version="1.0"?>
<schema targetNamespace="urn:guanxi:idp"
        xmlns:gx="urn:guanxi:idp"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        blockDefault="substitution"
        version="2.0">

  <!-- ******************************************************************** -->
  <!-- The format of the XML for idp.xml -->
  <simpleType name="ssoCookieAgeUnitsType">
    <restriction base="string">
      <enumeration value="seconds"/>
      <enumeration value="minutes"/>
      <enumeration value="hours"/>
      <enumeration value="days"/>
      <enumeration value="weeks"/>
      <enumeration value="months"/>
      <enumeration value="years"/>
      <enumeration value="transient"/>
    </restriction>
  </simpleType>
  
  <complexType name="ssoCookieAgeType">
    <simpleContent>
      <extension base="string">
        <attribute name="units" type="gx:ssoCookieAgeUnitsType"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="ssoCookieType">
    <sequence>
      <element name="Domain" type="string"/>
      <element name="Path" type="string"/>
      <element name="Age" type="gx:ssoCookieAgeType"/>
      <element name="Prefix" type="string"/>
    </sequence>
  </complexType>

  <complexType name="credsType">
    <sequence>
      <element name="keystore-type" type="string"/>
      <element name="keystore-file" type="string"/>
      <element name="keystore-password" type="string"/>
      <element name="private-key-alias" type="string"/>
      <element name="private-key-password" type="string"/>
      <element name="certificate-alias" type="string"/>
      <element name="key-type" type="string"/>
    </sequence>
    <attribute name="name" type="string"/>
  </complexType>

  <complexType name="identityType">
    <sequence>
      <element name="issuer" type="string"/>
      <element name="name-qualifier" type="string"/>
      <element name="format" type="string"/>
    </sequence>
    <attribute name="name" type="string"/>
  </complexType>

  <complexType name="serviceProviderType">
    <attribute name="name" type="string"/>
    <attribute name="identity" type="string"/>
    <attribute name="creds" type="string"/>
  </complexType>

  <complexType name="authPageType">
    <simpleContent>
      <extension base="string">
        <attribute name="providerId" type="string"/>
        <attribute name="url" type="string"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="authenticatorPagesType">
    <sequence>
      <element name="auth-page" type="gx:authPageType" minOccurs="1" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="debugType">
    <sequence>
      <element name="SypthonAttributeQueries" type="string" minOccurs="0"/>
      <element name="SypthonAttributeAssertions" type="string" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="idp">
    <complexType>
      <sequence>
        <element name="ID" type="string"/>
        <element name="Cookie" type="gx:ssoCookieType" />
        <element name="service-provider" type="gx:serviceProviderType" maxOccurs="unbounded" />
        <element name="identity" type="gx:identityType" maxOccurs="unbounded" />
        <element name="creds" type="gx:credsType" maxOccurs="unbounded" />
        <element name="authenticator-pages" type="gx:authenticatorPagesType" minOccurs="1" maxOccurs="1" />
        <element name="Debug" type="gx:debugType" minOccurs="0" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML for authenticators.xml -->
  <complexType name="authenticatorType">
    <attribute name="type" type="string"/>
  </complexType>

  <element name="authenticators">
    <complexType>
      <sequence>
        <element name="authenticator" type="gx:authenticatorType" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML for attributors.xml -->
  <complexType name="attributorType">
    <attribute name="type" type="string"/>
  </complexType>

  <element name="attributors">
    <complexType>
      <sequence>
        <element name="attributor" type="gx:attributorType" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML for AuthCookieHandlers.xml -->
  <complexType name="authCookieHandlerType">
    <attribute name="type" type="string"/>
  </complexType>

  <element name="auth-cookie-handlers">
    <complexType>
      <sequence>
        <element name="cookie-handler" type="gx:authCookieHandlerType" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>

  <complexType name="cookieType">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string"/>
      </extension>
    </simpleContent>
  </complexType>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML for the LDAP authenticator and attributor -->
  <complexType name="attributeValueType">
    <attribute name="name" type="string"/>
    <attribute name="position" type="string"/>
  </complexType>

  <complexType name="valuesType">
    <sequence>
      <element name="attribute" type="gx:attributeValueType" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="serverType">
    <sequence>
      <element name="address" type="string"/>
      <element name="port" type="string"/>
      <element name="timeout" type="string"/>
      <element name="privileged-dn" type="string"/>
      <element name="privileged-dn-password" type="string"/>
      <element name="search-base-dn" type="string" minOccurs="0"/>
      <element name="search-scope" type="string" minOccurs="0"/>
      <element name="search-attribute" type="string" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="ldap">
    <complexType>
      <sequence>
        <element name="values" type="gx:valuesType" minOccurs="0" maxOccurs="1" />
        <element name="server" type="gx:serverType" minOccurs="1" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML for BodingtonCookieHandler.xml -->
  <element name="BodingtonCookieHandler">
    <complexType>
      <sequence>
        <element name="cookie" type="gx:cookieType"/>
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML for wayf.xml -->
  <complexType name="wayfType">
    <attribute name="name" type="string"/>
    <attribute name="url" type="string"/>
  </complexType>

  <element name="idp-list">
    <complexType>
      <sequence>
        <element name="idp" type="gx:wayfType" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- Attribute Release Policy (ARP) XML format -->
  <complexType name="arpIncludeType">
    <attribute name="arpFile" type="string"/>
  </complexType>

  <complexType name="attributeType">
    <attribute name="name" type="string"/>
    <attribute name="value" type="string"/>
  </complexType>

  <complexType name="bagType">
    <sequence>
      <element name="attribute" type="gx:attributeType" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string"/>
  </complexType>

  <complexType name="providerType">
    <sequence>
      <element name="allow" type="string" maxOccurs="unbounded" />
      <element name="deny" type="string" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string"/>
  </complexType>

  <element name="arp">
    <complexType>
      <sequence>
        <element name="include" type="gx:arpIncludeType" minOccurs="0" maxOccurs="unbounded" />
        <element name="bag" type="gx:bagType" minOccurs="0" maxOccurs="unbounded" />
        <element name="provider" type="gx:providerType" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- Map file format -->
  <complexType name="mapIncludeType">
    <attribute name="mapFile" type="string"/>
  </complexType>

  <complexType name="mapRefType">
    <attribute name="name" type="string"/>
  </complexType>

  <complexType name="mapProviderType">
    <sequence>
      <element name="mapRef" type="gx:mapRefType" maxOccurs="unbounded" />
    </sequence>
    <attribute name="providerId" type="string"/>
  </complexType>

  <complexType name="mapType">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string"/>
        <attribute name="attrName" type="string"/>
        <attribute name="attrValue" type="string"/>
        <attribute name="mappedName" type="string"/>
        <attribute name="mappedValue" type="string"/>
        <attribute name="mappedRule" type="string"/>
        <attribute name="persistent" type="boolean"/>
        <attribute name="unique" type="boolean"/>
        <attribute name="scope" type="string"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="mapVarType">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string"/>
        <attribute name="value" type="string"/>
      </extension>
    </simpleContent>
  </complexType>

  <element name="AttributeMap">
    <complexType>
      <sequence>
        <element name="include" type="gx:mapIncludeType" minOccurs="0" maxOccurs="unbounded" />
        <element name="map" type="gx:mapType" minOccurs="0" maxOccurs="unbounded" />
        <element name="provider" type="gx:mapProviderType" minOccurs="0" maxOccurs="unbounded" />
        <element name="var" type="gx:mapVarType" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- BodingtonAttributor config -->
  <element name="BodingtonAttributor">
    <complexType>
      <sequence>
        <element name="urn" type="string"/>
        <element name="shib_urn" type="string"/>
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- The format of the XML returned by an attributor -->
  <complexType name="attributorAttributeType">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string"/>
        <attribute name="value" type="string"/>
      </extension>
    </simpleContent>
  </complexType>

  <element name="userAttributes">
    <complexType>
      <sequence>
        <element name="attribute" type="gx:attributorAttributeType" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

  <!-- ******************************************************************** -->
  <!-- FlatFileAuthenticator/FlatFileAttributor config -->
  <complexType name="ffUserAttributeType">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string"/>
        <attribute name="value" type="string"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="ffUserType">
    <sequence>
      <element name="Username" type="string" />
      <element name="Password" type="string" />
      <element name="UserAttribute" type="gx:ffUserAttributeType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <element name="FlatFileAuthenticatorConfig">
    <complexType>
      <sequence>
        <element name="User" type="gx:ffUserType" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!-- ******************************************************************** -->

</schema>